<div layout="column">
    <md-toolbar>
        <div class="md-toolbar-tools" style="background-color: lightblue;">
            <h2>Editar Prato</h2>
            <span flex></span>
        </div>
    </md-toolbar>
    <form name="vm.form">
        <md-input-container>
            <label>Restaurantes</label>
            <md-select ng-model="vm.dataset.restaurante">
              <md-option ng-repeat="restaurantes in vm.dsRestaurante" ng-value="restaurantes">
                {{restaurantes.nomeDoRestaurante}}
              </md-option>
            </md-select>
          </md-input-container>
        <md-content class="md-padding"></md-content>
            <div layout="row">
                <md-input-container flex flex>
                    <label>Nome Do Prato</label>
                    <input required ng-model="vm.dataset.nomeDoPrato" name="nomeDoPrato" minlength ="3">
                    <div ng-messages="vm.form.nomeDoPrato.$error">
                        <div ng-message="required">Campo obrigatório.</div>
                        <div ng-message="minlength">No mínimo 3 caracteres.</div>
                    </div>
                </md-input-container flex>
                <md-input-container flex flex>
                    <label>Preço</label>
                    <input required ng-model="vm.dataset.preco" name="Preco" type="text" >
                    <div ng-messages="vm.form.preco.$error">
                        <div ng-message="required">Campo obrigatório.</div>
                    </div>
                </md-input-container flex>
            </div>  
        </md-content>    
        <md-dialog-actions layout="row">
            <div layout="row" layout-align="start center">
                <md-button type="reset" class="md-warn">Limpar
                    <md-icon md-svg-src="assets/img/eraser.svg"></md-icon>
                </md-button>
                <md-button class="md-warn " ng-click= vm.cancelar()>Cancelar
                    <md-icon md-svg-src="assets/img/cancel.svg"></md-icon>
                </md-button>
                <md-button type="submit" ng-click="vm.form.$valid && vm.salvaPrato()"  aria-label="Salvar Dados"> Salvar
                   <md-icon md-svg-src="assets/img/save.svg"></md-icon>
                </md-button>
            </div>     
        </md-dialog-actions>   
</div>