<div layout="row">
    <h3 layout-align="center center" class="md-title negrito" flex="60">Quadro Geral</h3>
    <md-button class="md-raised md-primary" ng-click=vm.cidade()> Ver Cidades
        <md-icon md-svg-src="assets/img/cancel.svg"></md-icon>
    </md-button>
</div>
<div class="container">
    <div class="col-md-12">
        <table id="quadro">
            <thead>
                <tr>
                    <th> UF </th>
                    <th> Casos Suspeitos</th>
                    <th> Casos em Análise</th>
                    <th> Casos Confirmados</th>
                    <th> Casos Descartados</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="uf in vm.dataset.ufs | filter: orderBy:vm.sortKey">
                    <td>{{uf.uf}}</td>
                    <td>{{uf.caso_suspeito}}</td>
                    <td>{{uf.caso_analise}}</td>
                    <td>{{uf.caso_confirmado}}</td>
                    <td>{{uf.caso_descartado}}</td>
                </tr>
            </tbody>
        </table>
        <div layout="row" layout-align=" center" ng-if="(vm.dataset | filter: vm.uf).length == 0">
            <span class="notFound">Nenhum restaurante encontrado!</span>
            <img ng-src="assets/img/not-found.svg" class="img-404">
        </div>
    </div>
</div>
<br>
<md-button class="md-raised md-primary" flex="80" ng-click=vm.pessoa()> Ver Casos
    <md-icon md-svg-src="assets/img/cancel.svg"></md-icon>
</md-button>
<div class="container">
    <div class="col-md-12">
        <table id="quadro">
            <thead>
                <tr>
                    <th> Cidades</th>
                    <th> UF </th>
                    <th> Casos Suspeitos</th>
                    <th> Casos em Análise</th>
                    <th> Casos Confirmados</th>
                    <th> Casos Descartados</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="cidade in vm.dataset.cidades| filter: orderBy:vm.sortKey">
                    <td>{{cidade.nome}}</td>
                    <td>{{cidade.uf}}</td>
                    <td>{{cidade.caso_suspeito}}</td>
                    <td>{{cidade.caso_analise}}</td>
                    <td>{{cidade.caso_confirmado}}</td>
                    <td>{{cidade.caso_descartado}}</td>
                </tr>
            </tbody>
        </table>
        <div layout="row" layout-align=" center" ng-if="(vm.dataset | filter: vm.cidades).length == 0">
            <span class="notFound">Nenhum restaurante encontrado!</span>
            <img ng-src="assets/img/not-found.svg" class="img-404">
        </div>

        <div layout="row" layout-align="center">
            <md-button ng-click="vm.retornar()" aria-label="sf">
                <md-icon md-svg-src="assets/img/left-arrow.svg"></md-icon>
            </md-button>
            <br>
            Página: {{vm.index}}
            <md-button ng-click="vm.avancar()" aria-label="sf">
                <md-icon md-svg-src="assets/img/rigth-arrow.svg"></md-icon>
            </md-button>
        </div>
    </div>
</div>