<form ng-cloak name="vm.form">
  <div layout="column">
    <label>Visualizar Cidade</label>
  </div>
  <md-content class="md-padding">
    <div layout="row" flex="40">
      <md-input-container>
        <label>Nome Da Cidade</label>
        <input ng-model="vm.dataset.nome" ng-disabled="true" type="text" name="nome" ng-required="true">
      </md-input-container>
      <md-input-container md-no-float class="md-block" flex="20">
        <md-tooltip>UF ( Unidadde da Federação) *</md-tooltip>
        <md-icon md-svg-src="assets/img/estado.svg" style="display:inline-block;"></md-icon>
        <label>UF ( Unidadde da Federação) *</label>
        <md-select ng-model="vm.dataset.uf" ng-disabled="true" name="uf" ng-required="true">
          <md-option ng-repeat="estado in vm.estados" ng-value="estado.abbrev">
            {{estado.abbrev}}
          </md-option>
        </md-select>
      </md-input-container>
    </div>
    <md-button type="submit" ng-click="vm.form.$valid && vm.excluiCidade($ev)"> Excluir
      <md-icon md-svg-src="assets/img/delete.svg"></md-icon>
    </md-button>
    <md-button ng-click=vm.cancelar()> Voltar
      <md-icon md-svg-src="assets/img/back.svg"></md-icon>
    </md-button>
  </md-content>

  </div>
</form>