<form ng-cloak name="vm.form">
                <label>Editar Pessoa</label>
        </div>
        <md-content class="md-padding">
            <div layout="row" >
                <md-input-container >
                    <label>Nome Da Pessoa</label>
                    <input ng-disabled="true" ng-model="vm.dataset.nome" type="text" name="nome" ng-required="true">        
                </md-input-container >
                <md-input-container >
                  <label>Cidade</label>
                  <input ng-disabled="true" ng-model="vm.dataset.cidade.nome" type="text" name="nome" ng-required="true">        
              </md-input-container >
            </div>
            <div>
              <md-input-container  class="data-picker-alinhado-esquerda">
                <label >Data</label>
                    <md-datepicker ng-disabled="true" ng-model="vm.dataset.data_nascimento"></md-datepicker>
            </md-input-container> 
            </div>
            </div>   
            <md-button type="submit" ng-click="vm.form.$valid && vm.excluiPessoa($ev)"> Excluir
              <md-icon md-svg-src="assets/img/delete.svg"></md-icon>
            </md-button> 
            <md-button  ng-click= vm.cancelar()> Voltar
              <md-icon md-svg-src="assets/img/back.svg"></md-icon>
            </md-button>  
        </md-content>  
    </div>
</form>