&lt;md-dialog aria-label="List dialog"&gt; 
         &lt;md-dialog-content&gt;
           &lt;md-list&gt;
             &lt;md-list-item ng-repeat="item in items"&gt;
              &lt;p&gt;Number {{item}}&lt;/p&gt; 
             &lt;/md-item&gt;
           &lt;/md-list&gt;
         &lt;/md-dialog-content&gt; 
         &lt;md-dialog-actions&gt; 
           &lt;md-button ng-click="closeDialog()" class="md-primary"&gt; 
             Close Dialog 
           &lt;/md-button&gt; 
         &lt;/md-dialog-actions&gt; 
       &lt;/md-dialog&gt;